.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: center;
  margin: auto auto;
  gap: .25rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.meme{
  position: relative;
  text-align:center;
  font-size: 2rem;
  max-width: 500px;
  max-height: 500px;
}
.meme > span {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 450px;
  filter: drop-shadow(3px 3px 1px #000);
}
#linea1{
  top: 1rem;
}
#linea2{
  bottom: 2rem;
}

select {
  background-color: rgb(212, 212, 212);
  color: black;
  border-style: solid;
  border-color: red;
  border-radius: 20px;
  font-size: 1.25rem;
  text-shadow: 0.05px 0.05px rgb(51, 66, 66);
  text-align: center;
}
